html, body, *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem; /* Normally 100% is 16 px we want the size to be 10px so we do 62.5 */
  font-family: 'Oxygen', sans-serif;
}

.form-inputs {
  display: flex;
  text-align: center;
  width: 25%;
  border: 1px solid black;
  flex-direction: column;
  background-color: bisque;
}

.character-card {
  display: flex;
  text-align: center;
  width: 25%;
  border: 1px solid black;
  flex-direction: column;
  background-color: bisque;
}

.removeBtn {}

